$wmin: 375px;
$wmax: 768px;
$primary-color: #ff6060;
$secondary-color: #f7f7f7;
$tertiary-color: #FFFFFF;
$black-color: #000000;
$background-color: #0000004d;
$linear-cards: linear-gradient(180deg, #ffffff00 0%, #00000080 100%);
$banner-background: $background-color url("/src/assets/images/home_image.png");
$breakpoint-desktop: 769px;
$about-background: $background-color url("/src/assets/images/about_image.png");

