.footer-container {
  width: 100%;
  @include flex-center;
  background-color: $black-color;
  flex-direction: column;
  color: azure;
  margin-top: 3%;
  height: 252px;

  img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 120px;
    height: 40px;
  }
}
