.footer-container {
    width: 100%;
    @include flex-center;
    background-color: $black-color;
    flex-direction: column;
    color: azure;
    margin-top: 9%;
    height: 240px;

    img {
        margin-top: 20px;
        width: 120px;
        height: 40px;
    }
}